@model LoginModel
@{
    ViewData["Title"] = "Thanks";
}
  
<table style="width:50%">
    <thead>
        <tr>
            
            <th><a>Apply Leave</a></th>
            <th><a>Leave Status</a></th>
            <th><a>Leave Summary</a></th>
            <th><a>Apply Leave</a></th>
            <th><a>Leave requests</a></th>
            
        </tr>
    </thead>
    <tbody>